* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(20, 71, 54);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(119, 201, 141);
    width: 100vw;
    overflow-x: hidden;
}

.custom-navbar {
    background-color: rgb(20, 71, 54);
}

.custom-nav-link {
    color: aquamarine !important;
}

.custom-navbar-brand {
    color: rgb(119, 201, 141);
}

.custom-navbar-collapse {
    justify-content: center;
}

.test-col-6, .test-col-4, .test-col-3, .test-col-2 {
    height: 200px;
    border: 1px solid black;
}

.test-col-6 {
    background-color: red;
}

.test-col-4 {
    background-color: yellow;
}

.test-col-3 {
    background-color: green;
}

.test-col-2 {
    background-color: blue;
}